
.styleCardContent {
    width: 300px;
    height: 200px;
    background-color: rgb(255, 252, 252);
    color:rgb(0, 0, 0);
    box-sizing:border-box;
    padding: 40px;
    border-radius: 2px;
    font-family:'Courier New', Courier, monospace;
    margin: 25px 45px;
    display: flex;
    flex-direction: column;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  }

  .styleCardTitle {
    font-family: Avenir-Heavy;
    font-size: 22;
    font-weight: 600;
  
    margin: 8px 40px;
    margin-left: 70px;
  }
  
  .styleLocationLabel {
    color:rgb(0, 0, 0);
    font-family: Avenir-Heavy;
    font-size: 32;
    font-weight: 600;
    margin: 4px 0;

    margin-left: 70px;
  }
  
  .styleDescription {
    font-size: 14;
    margin: 8px 0 0 0;
  }

  