.background {
    // width: 40%;
  // height: 40%;
  // background: rgba(0, 0, 0, 0.8);
  // align-self: center;
  // display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
    width: 800px;
    height: 500px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    background: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    // grid-template-columns: 1fr 1fr;
    // position: relative;
    z-index: 10;
    border-radius: 10px;
}

.close {
    cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  padding: 0;
  z-index: 10;
}
