.container {
    display: flex;
    width: 100%;
    .listContainer {
      flex: 6;
      .widgets {
        display: flex;
        flex-direction: row;
      }
      .users-data {
        width: 1500px;
        height: 1000px;
        background-color: rgb(255, 252, 252);
        color:rgb(0, 0, 0);
        box-sizing:border-box;
        margin: 25px 45px;
        display: flex;
        flex-direction: column;
      }
    }

}
